
language: python
python:
  - 3.2
  - 3.3
  - 3.4
  - 3.5

services:
  - memcached

install:
  - pip install pylibmc
  - pip install coverage
  - pip install coverall

script:
  coverage run ./tests/start.py

after_success:
  coveralls
