[loggers]
keys=root

[handlers]
keys=log_file

[formatters]
keys=default

[logger_root]
level=INFO
handlers=log_file

[handler_log_file]
class=FileHandler
formatter=default
args=('beneath-a-binary-sky.log', 'a')

[handler_syslog]
class=handlers.SysLogHandler
args=('/dev/log', handlers.SysLogHandler.LOG_LOCAL5)

[formatter_default]
format=%(asctime)s|%(process)s/%(levelname)s: %(message)s
