# This sample config contains all the available options, and explains
# each of them.

[database]
# What port database should listen on?
port: 11536

[robot]

# Initial energy of a robot when she's born.
initial_energy: 150

# How many actions a robot can do before she die?
initial_life: 500

# Delays between executing two actions. This is to prevent robots
# from executing actions too quickly.
actions_delay: 30

# Maximum energy a robot can have.
max_energy: 400

[plant]
# In each cycle, plant lose some of its water level, and its age will
# increased by one.
# This is in milliseconds.
cycle: 50

# Plant will die after this age.
max_age: 70

# Plant will be matured (eatable) after reaching this age.
matured_age: 40

# How much of water level of a plant will be lost in each cycle?
# Water level is a number between 0 and 100.
lose_water_in_cycle: 5

# How much energy a plant will give to a robot, when she eats it?
energy: 150
